html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--clr-primary-10);
  color: $black;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;

  @media #{$mq-1000-up} {
    // padding: 1.5rem;
  }
}

ul {
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-family: system-ui;
  font-weight: 400;
  color: gray;
}
h1 {
  font-size: 40px;
  margin-top: 0;
}

h2 {
  margin-top: 0;
  font-size: 30px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper {
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  height: auto;
  overflow: hidden;
  width: 70vw;
}

main {
  background-color: var(--clr-primary-10);
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.profile-img {
  width: 200px;
  height: 200px;
  float: left;
  max-width: 100%;
  border-radius: 50%;
  padding-right: 2rem;
  display: block;
}
.responsive-image {
  max-width: 100%;
  display: block;
}
.style-text {
  color: goldenrod;
}

// footer {
//     height: auto;
//     width: 100vw;
//     background-color: #333;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     flex-direction: row;
// }

// main {
//   @media #{$mq-1000-up} {
//     display: flex;
//     padding: 1.5rem;
//   }
// }
// .main-content {
//   @media #{$mq-1000-up} {
//     flex: 3;
//   }
// }

// aside {
//   @media #{$mq-1000-up} {
//     flex: 1;
//   }
// }
