.contacts {
    margin: 3rem;
    text-align: center;
    background-color: grey;
    padding: 2rem;
}
.contact-form {
    max-width: 80%;
    margin-bottom: 3rem;
    .form-group:not(:last-child) {
        margin-bottom: 2rem;
      }
      .btn-block {
          width: 100%;
          display: block;
      }
  }
 
  .social-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & a {
        font-size: 1.9rem;
        margin-bottom: 1rem;
        & > i.fab {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            margin-bottom: 1rem;
            padding: 0.5rem;
            border: 2px solid #eee;
            background-color: dodgerblue;
            &:hover{
                background-color: green;
            }
        }

      }

  }

  .contacts-col:first-of-type{
      background-color: $contacts-background;
      color: white;
      width: 100vw;
      padding: 2rem 5rem;     
  }
  .contacts-col:last-of-type {
    background-color: green;
    text-align: center;
    color: white;
    width: 100vw;
    padding: 2rem;     
}
  
footer {
    height: auto;
    width: 100vw;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.contacts .row {
    overflow: hidden;
}