#work, .work {
    height: 100%;
    padding-top: 3rem;
    // background: linear-gradient(to right, lime, tomato);
    text-align: center;
    h1 {
        margin: 0;
        
    }
}
.grid-gallery {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to right, lime, tomato);;


    & p {
        margin-top: 0.5rem;
        text-align: center;
        color: #990033 ;
    }
    & a:hover p{
        background-color: tomato;
        color: black;
        padding: 0.3rem;
        
    }
    /* Mobile first layout complete */
/* Tablet second layout begin */
    .cell {
        
        margin: 1rem;
        .cell img {
            display: block;
        
            & img:hover {
                transform: translateY(-0.4rem);
                transform: scale(1.2);
            }
        }
        
    }
}
.responsive-image {
    max-width: 100%;
}
/* Mobile layout complete for gallery , now bigger screens begin */

@media screen and (min-width: 600px) {
    .cell {
        width: calc(50% - 2rem);
    }
}

/* Laptop layout begin */

@media screen and (min-width: 800px) {
    .cell {
        width: calc(100%/3 - 2rem);
    }
}

// @media screen and (min-width: 1000px) {
//     .cell {
//         width: calc(100%/4 - 2rem);
//     }
// }