html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: $font-med;
    margin: 0;
    padding: 0;
    color: white;
}
html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
   }
 h1 {
     margin-top: 1.8rem;
 }  
a, a:link, a:visited {
    text-decoration: none;
}

footer {
    height: auto;
    width: 100vw;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    h2 {
        margin-bottom: 2rem;
    }
}
// .about, .contacts, .home {
//     height: 100vh;
//     padding-top: 3rem;
// }

#about {
    background-color: grey;
}
.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1200px;
    text-align: left;
    color: black;

    h1 {
        margin-top: 1.8rem;
    } 
 }


.page-wrap {
    color: black;
    position: relative;
    left: 0;
    max-width: 1300px;
    width: 80%;
    margin: 0 auto;
    line-height: 1.4;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    // z-index: 999;
}

// #overlay {
//     background-image: linear-gradient(to top, grey, yellow, #990033 );
//     position: fixed;
//     top: 75px;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     display: block;
//     z-index: -1;
// }

