/* apply a natural box layout model to all elements, but allowing components to change */
html {
  font-size: 17px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* html {
  font-size: 17px; /* rem and ems are both relative units for responsive design */
/* 17px as Root font-size, so, 1rem = 17px. 1em depends on parent element font-size */
/* https://css-tricks.com/rems-ems/ Font Size Idea: px at the Root, rem for Components, em for Text Elements*/
/* } */

.column-narrow {
  width: 23%;
  float: left;
  padding-right: 2rem;
  min-height: 375px; /*to prevent collapse */
}
.column-wide {
  width: 72%;
  float: left;
  min-height: 375px;
  text-align: justify;
  margin-right: 4%;
}

@media only screen and (max-width: 700px) {
  .column-narrow,
  .column-wide {
    width: 100%;
  }
}
