/* Mobile first layout complete */
/* Tablet second layout begin */
.content-wrap {
  text-align: center;
}
section .grid-gallery {
  height: 100vh;
}
section .grid-gallery .cell {
  margin: 1rem; // margin: 1rem - was before
  border: 1px solid grey;
  float: left;
  min-height: calc(100vh - 60vh);
  .cell img {
    display: block;
    width: 100%;
  }
  a {
    display: block;
    &:hover {
      transform: translateY(-0.4rem);
      transform: scale(1.2);
    }
  }
}

/* Mobile layout complete for gallery , now bigger screens begin */

@media screen and (min-width: 600px) {
  section .grid-gallery .cell {
    width: calc(50% - 2rem);
  }
}

/* Laptop layout begin */

@media screen and (min-width: 800px) {
  section .grid-gallery .cell {
    width: calc(100% / 3 - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 4 - 2rem);
  }
}

// sass --watch style.scss style.css
// sass --watch app/sass:public/stylesheets
// npm install -g sass

// .grid-gallery {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   background: linear-gradient(to right, lime, tomato);
// }
