header,
.header {
  position: relative;
  height: 145px;
  padding: 0;
  margin: 0;
  width: 100%;
  &__breadcrumb {
    margin: 0 auto;
    padding: 0.5rem 2rem;
    text-align: left;
    position: absolute;
    top: 100px;

    left: 0;
    right: 0;

    cursor: pointer;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    position: relative;

    &__logo {
      position: absolute;
      left: 2rem;
      top: 2rem;
    }

    &__links {
      display: none;
    }

    &__menu {
      position: absolute;
      right: 32px;

      span {
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
        margin-bottom: 2px;
        transform-origin: 4px 3px;
      }
      &.open > span:first-child {
        transform: rotate(45deg);
      }

      &.open > span:nth-child(2) {
        opacity: 0;
      }
      &.open > span:last-child {
        transform: rotate(-45deg);
      }
    }

    &__cta {
      display: none;
    }
    &.mobile &__menu {
      display: block;
      position: fixed;
      right: 5%;
      top: 5%;
    }
    &.mobile &__links {
      display: flex;
      flex-direction: column;
      width: 80vw;
      height: 75vh;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #777;
      a {
        color: #fff;
        display: block;
        padding: 0.7rem;
        font-size: 2rem;
        &::before {
          height: 5px;
          bottom: -5px;
          margin: auto;
        }
        &:hover {
          background: rgb(162, 93, 93);
        }
      }
    }
    nav {
      z-index: 9999;
    }
  }
}

// Content inside page
@media only screen and (max-width: 700px) {
  #about .container {
    padding: 2rem 2rem;
    width: 100vw;
  }
}
.page-wrap {
  color: white;
  position: relative;
  left: 0;
  max-width: 1300px;
  width: 95%;
  margin: 0 auto;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  // z-index: 999;
}
