nav,
.nav {
  position: relative;
  &__links {
    display: none;
  }
  .links-container {
    height: 0;
  }

  .nav-logo {
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    justify-items: center;
    height: 50px;
  }

  &__toggle {
    span {
      display: block;
      width: 22px;
      height: 3.3px;
      background: steelblue;
      border-radius: 0.5rem;
      margin-bottom: 4px;
      transform-origin: 1px 3px;
    }
    &.open > span:first-child {
      transform: rotate(45deg);
    }

    &.open > span:nth-child(2) {
      opacity: 0;
    }
    &.open > span:last-child {
      transform: rotate(-45deg);
    }
  }

  &__cta {
    display: none;
  }
}

.breadcrumb {
  background-color: transparent;
  margin: 1.5rem 0;
  padding: 0.5rem 0.5rem;
  background-color: goldenrod;
  border-radius: 0.5rem;
  text-align: left;
  width: 12vw;
  color: #fff;
  a {
    color: #fff;
  }
}

nav {
  background-color: #fff;
  box-shadow: var(--dark-shadow);
  padding: 1rem 1.5rem;
}
.nav-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: red;
  height: auto;
  width: 90vw;
  max-width: 1170px;
  padding: 1.5rem;
}
