nav,
.nav {
  position: relative;
  z-index: 9999;

  &.mobile &__links {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;
    transform: translate(0%);
    width: 100vw;
    text-align: left;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: #fff;
    a {
      color: steelblue;
      display: block;
      padding: 0.7rem;
      font-size: 1.4rem;
      letter-spacing: 0.3em;
      transition: all 0.3s linear;
      margin: 0 auto;
      width: 75vw;
      &:hover {
        background: goldenrod;
      }
    }

    .fab,
    .fa-brands {
      background-color: transparent;
      color: rgb(69, 158, 231);
      font-size: 2rem;
    }
  }
  nav {
    z-index: 9999;
  }
}

@media screen and (min-width: 800px) {
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100vw;
  }
  .links-container {
    height: auto !important;
  }
  .nav-logo {
    font-size: 1.5rem;
    height: 50px;
  }
  .nav__links {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem; /* hover pseudo element height */
    a {
      position: relative;
      color: steelblue;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -12px;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
      &:hover::before {
        opacity: 1;
        background-color: black;
        background: linear-gradient(to right, lime, cyan);
        width: 77%;
        margin: auto;
      }
    }
    .fa-window-close {
      display: none;
    }
  }
  .nav__toggle {
    display: none;
  }
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}
