html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  background-color: $ltGray;
  color: $black;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;

  @media #{$mq-1000-up} {
    padding: 1.5rem;
  }
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  color: gray;
}
h1 {
  font-size: 80px;
  margin-top: 0;
}

h2 {
  margin-top: 0;
}
// .container {
//   max-width: 950px;
//   margin: 0 auto;
//   padding: 50px;
//   overflow: hidden;
// }
main {
  padding: 20px;
  background-color: $white;
  border-radius: 15px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4rem;
}

// main {
//   @media #{$mq-1000-up} {
//     display: flex;
//     padding: 1.5rem;
//   }
// }
// .main-content {
//   @media #{$mq-1000-up} {
//     flex: 3;
//   }
// }

// aside {
//   @media #{$mq-1000-up} {
//     flex: 1;
//   }
// }
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
footer {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 auto;
}
form {
  width: 50%;
  margin: 0 auto;
  input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  input[type="submit"] {
    background-color: slategrey;
    margin-top: 1rem;
    border-radius: 0.3rem;
    width: 30%;
  }
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  & a {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    & > i.fab {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      line-height: 30px;
      text-align: center;
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: 2px solid #eee;
      background-color: dodgerblue;
      &:hover {
        background-color: green;
      }
    }
  }
}
.contacts-col {
  display: flex;
  justify-content: space-around;
}
.contacts-col:first-of-type {
  background-color: $contacts-background;
  color: white;
  width: 100vw;
  padding: 2rem 5rem;
}
.contacts-col:last-of-type {
  background-color: goldenrod;
  text-align: center;
  color: white;
  width: 100vw;
  padding: 2rem;
}

// footer {
//     height: auto;
//     width: 100vw;
//     background-color: #333;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     flex-direction: row;
// }

.contacts .row {
  overflow: hidden;
}
